<header>
  <div class="hero is-primary">
    <div class = "hero-body">
      <div class = "container">
        <h1 class = "title">!Vought International</h1>
        <ul class="mt-5">
          <li><%= link_to 'Products', root_path %></li>
          <li><%= link_to 'Categories', categories_path %></li>
          <li><%= link_to 'About', about_show_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class = "container">
    <%= render partial: 'common/search_form'%>
  </div>
</header>