<h2 class="title is-2"><%= @category.name %></h2>
<%= paginate @products %>

<div class="content">
  <div class="columns is-multiline">
     <%= render partial: 'products/product',
             collection: @products,
             locals: { show_link: true } %>
  </div>
</div>