<% if @payment_intent.charges.data[0].paid %>
  <p>We have recieved your payment of <%= number_to_currency( @payment_intent.amount / 100 ).to_s %></p>
  <p>We will ship your order soon...</p>
<% else %>
  <p>Something went wrong with the payment. Please contact us for more information</p>
  <p> -- definitely not fake contact filler information here... </p>
<% end %>



